<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id='app'>
        <div style="display: flex;">
            <div>
                <div>姓名</div>
                <input type="text" v-model='name'>
                <div>身份证号</div>
                <input type="text" v-model='number'>
                <button v-on:click='submit'>提交</button>
            </div>

            <div style="margin-left: 10vw;">
                <div>姓名或身份证号</div>
                <input type="text" v-model='info'>
                <button v-on:click='search'>查询</button>
            </div>

        </div>

        <div v-if='show' v-for='todo in article'>
            <div>姓名:{{todo.name}}</div>
            <div>身份证：{{todo.number}}</div>
            <button v-on:click='del(todo._id)'>删除</button>
        </div>
    </div>
    <script src="./vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                name: '',
                number: null,
                info: null,
                show: true,
                article: []
            },
            methods: {
                submit: function () {
                    let that = this
                    console.log(that.number)
                    axios.post('/sendArticle', {
                        name: that.name,
                        number: that.number,
                        setTime: new Date().getTime()
                    }).then(function (res) {
                        that.getAtticle()
                    })
                },
                getAtticle: function () {
                    let that = this
                    axios.get('/getArticle1', {}).then(function (res) {
                        console.log(res)
                        that.article = res.data
                    })
                },
                del: function (res) {
                    let that = this
                    axios.post('/delete', {
                        id: res
                    }).then(function (res) {
                        that.article = res.data
                    })
                },
                search: function () {
                    let that = this
                    let info = this.info
                    axios.post('/search', {
                        info: info
                    }).then(function (res) {
                        console.log(res)
                        that.article = res.data
                    })
                }
            },

            mounted() {
                this.getAtticle()
            },

        })
    </script>
</body>

</html>